/*  цвет текста  #212121; */
/* основной цвет текста #757575;
 */
/* синий цвет текста #2196F3; */
/* белый цвет текста #FFFFFF; */
/* подвал текст rgba(255, 255, 255, 0.6); */
/* фон background: #E5E5E5; */
/* вторичный фон background: #F5F4FA; */
/* еще фон черный background: #2F303A; */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #ffffff;
  --text: #757575;
  --focus: #2196f3;
}
body {
  background: var(--primary-text-color);
  color: var(--text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.list .it {
  width: 270px;
  height: 75px;
}
header {
  border-bottom: 1px solid #ececec;
}
.logo {
  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo:hover,
.logo:focus {
  color: var(--focus);
}

.logo-color {
  color: var(--focus);
  font-family: Raleway, sans-serif;
}

.logo-title {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo-title:hover,
.logo-title:focus {
  color: var(--focus);
}
.logo-title.current {
  color: var(--focus);
}
.logo-w {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  font-family: Raleway, sans-serif;
  margin-bottom: 20px;
  display: block;
}
.contact {
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
}
.contact .item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.link {
  text-decoration: none;
  color: var(--text);
}
.link:hover,
.link:focus {
  color: var(--focus);
}
.button {
  color: var(--primary-text-color);
  background-color: var(--focus);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  /* min-width: 200px; */
  border: transparent;
}

button {
  font-family: inherit;
}
.hero-title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* outline: 5px solid blueviolet; */
  margin-bottom: 30px;
}
.hero {
  background: #2f303a;
  text-align: center;
  /* outline: 1px solid red; */
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
}

.line-title,
.section-title,
.feature-title,
.name,
.project-title {
  color: #212121;
}
.address-street {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.714;
  margin-top: 0px;
  margin-bottom: 9px;
}
.address {
  font-style: normal;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  margin-top: 0px;
}
.footer-l {
  margin-top: 0px;
  margin-bottom: 9px;
}
.footer-l + .footer-l {
  margin-bottom: 0px;
}
.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.feature-p {
  font-size: 14px;
  line-height: 1.714;
  margin: 0px;
}
.line {
  padding-top: 94px;
  padding-bottom: 94px;
}
.line-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  display: flex;
}
.team-position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-team {
  background: #f5f4fa;
  /* min-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-padding {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.Footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 51px;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
}
/* Портфолио */

.button-p:hover,
.button-p:focus {
  background-color: var(--focus);
  color: #e5e5e5;
}
.button-port {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  margin-bottom: 50px;
}
.button-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  min-width: 73px;
  border: transparent;
  padding: 6px 22px;
  border-radius: 4px;
}
.button-port-box + .button-port-box {
  margin-left: 8px;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0px;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding-bottom: 20px; */
}

/* геометрия */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
}
IMG {
  display: block;
}
nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  /* outline: 1px solid red;
  background-color: aquamarine; */
}
.site-nav .item + .item {
  margin-left: 50px;
}
.contact .item + .item {
  margin-left: 50px;
}

.head {
  display: flex;
  align-items: center;
}
.feature {
  display: flex;
}

.feature .item + .item {
  margin-left: 30px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 94px; */
}
.project-border {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.project .item {
  width: 370px;
  margin-right: 30px;
  background: #ffffff;
  /* border: 1px solid #eeeeee; */
  /* box-sizing: border-box; */
  margin-bottom: 30px;
}
.project .item:nth-child(3n) {
  margin-right: 0px;
}
.project .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.line-text {
  display: flex;
}
.line-img + .line-img {
  margin-left: 30px;
}
.team-cont + .team-cont {
  margin-left: 30px;
}
.no-padding {
}
.portph {
  padding-top: 94px;
  padding-bottom: 94px;
}
